* {
    box-sizing: border-box;
}

/* Configuration de base */
html {
    font-size: 13px;
    font-weight: 550;
    letter-spacing: 0.5px;
    color: rgb(255, 255, 255);
    background-color: #000000;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word;
}

body {
    margin: 0;
    line-height: 1;
}


div,
p {
    margin: 0;
    padding: 0;
    font-size: 1.0625rem;
    line-height: 1.875rem;
    border: 0;
}

/* Sélection de texte */
::selection, ::-moz-selection, ::-webkit-selection {
    background: #46bed8;
    color: #fff;
}

.wrapper {
    width: 100%;
}

/* Taille et position du wrapper pour les écrans larges */
@media screen and (min-width: 1024px) {
    .wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1024px;
        height: 200px;
        margin-left: -512px; /* Moitié de la largeur */
        margin-top: -350px; /* Ajuster en fonction du contenu */
    }
}