<template>
    <div class="wrapper">
    <div class="keyboard-wrapper">
        <div class="console-log-container">
            <!-- Console Log Window -->
            <div class="console-log">
                <span v-if="log" v-text="log.message"></span>
            </div>
        </div>

        <div class="keyboard-container">
            <div class="button-container">
                <button @click.prevent="copyTextToClipboard" class="clipboard-button" title="Copier la saisie">
                    <i class="fas fa-clipboard"></i>
                </button>
                <button @click.prevent="onClearButtonClick" class="clear-button" title="Effacer le texte">
                    <i class="fas fa-undo" ref="clearIcon"></i>
                </button>
            </div>

            <div class="display-area" :class="{ 'typing': isTyping }">
                <span v-text="keyPressed"></span>
                <span v-if="isCursorVisible" class="cursor" :style="{ left: cursorPosition }"></span>
            </div>

            <div class="keyboard">
                <div v-for="(line, index) in lines" :key="'line-' + index" class="line">
                    <div v-for="key in line" :key="key.label" class="key" :class="getKeyClasses(key)"
                        @mousedown="startRepeat(key)" @mouseup="stopRepeat" @mouseleave="stopRepeat"
                        @click.prevent="onKeyClick(key)" @touchstart="startRepeat(key)" @touchend="stopRepeat"
                        :data-value="key.value || key.label" :aria-label="key.label" role="button" tabindex="0">
                        <span class="key-label" v-text="key.label"></span>
                        <span class="key-secondary-label" v-if="key.secondaryLabel" v-text="key.secondaryLabel"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
  
<script>
export default {
    props: {
        modalCustomClass: {
            type: String,
            default: "default-styles",
        },
    },
    data() {
        return {
            // Organisation des touches en lignes
            lines: this.initializeLines(),
            log: null,
            maxCharacters: 88,
            keyMap: {}, // Créez un objet pour stocker les touches par valeur
            keyPressed: '',  // Stocke le texte actuellement saisi
            isCursorVisible: true, // État de visibilité du curseur de saisie
            logTimeout: null, // Timeout pour la suppression du log
            typingTimeout: null, // Timeout pour réinitialiser l'état de saisie
            isTyping: false, // Suivre si l'utilisateur est en train de taper
            cursorBlinkInterval: null, // Interval pour le clignotement
            activeKeys: new Set(),  // Garde une trace des touches enfoncées
            repeatKey: null,  // Gère la répétition des touches
            isShiftPressed: false, // État de la touche Shift
            isCapsLock: false, // État de la touche CapsLock
            repeatDelay: 200, // Délai de répétition pour les touches
        };
    },
    methods: {
        // Organisation des touches en lignes
        initializeLines() {
            const SHIFT_KEY = { label: '⇧', value: '', class: 'shift' };
            const CAPSLOCK_KEY = { label: '⇪', value: '', class: 'capslock' };
            const BACKSPACE_KEY = { label: '←', value: '', class: 'backspace' };
            const ENTER_KEY = { label: '↩', value: '\n', class: 'enter' };
            const SPACE_BAR_KEY = { label: '—', value: '\u0020', class: 'space-bar' };
            const TAB_KEY = { label: '↹', value: '\t', class: 'tab' };

            return [
                // Première ligne
                [
                    { label: '²', value: '²' },
                    { label: '1', value: '&', shiftValue: '1', secondaryLabel: ' &' },
                    { label: '2', value: 'é', shiftValue: '2', secondaryLabel: ' é' },
                    { label: '3', value: '"', shiftValue: '3', secondaryLabel: ' "' },
                    { label: '4', value: '\'', shiftValue: '4', secondaryLabel: ' \'' },
                    { label: '5', value: '(', shiftValue: '5', secondaryLabel: ' (' },
                    { label: '6', value: '-', shiftValue: '6', secondaryLabel: ' -' },
                    { label: '7', value: 'è', shiftValue: '7', secondaryLabel: ' è' },
                    { label: '8', value: '_', shiftValue: '8', secondaryLabel: ' _' },
                    { label: '9', value: 'ç', shiftValue: '9', secondaryLabel: ' ç' },
                    { label: '0', value: 'à', shiftValue: '0', secondaryLabel: ' à' },
                    { label: ')', value: ')', shiftValue: '°', secondaryLabel: ' °' },
                    { label: '=', value: '=', shiftValue: '+', secondaryLabel: ' +' },
                    BACKSPACE_KEY
                ],
                // Deuxième ligne
                [
                    TAB_KEY,
                    { label: 'A', value: 'a', shiftValue: 'A' },
                    { label: 'Z', value: 'z', shiftValue: 'Z' },
                    { label: 'E', value: 'e', shiftValue: 'E' },
                    { label: 'R', value: 'r', shiftValue: 'R' },
                    { label: 'T', value: 't', shiftValue: 'T' },
                    { label: 'Y', value: 'y', shiftValue: 'Y' },
                    { label: 'U', value: 'u', shiftValue: 'U' },
                    { label: 'I', value: 'i', shiftValue: 'I' },
                    { label: 'O', value: 'o', shiftValue: 'O' },
                    { label: 'P', value: 'p', shiftValue: 'P' },
                    { label: '¨', value: '^', shiftValue: '¨', secondaryLabel: ' ^' },
                    { label: '£', value: '$', shiftValue: '£', secondaryLabel: ' $' },
                    ENTER_KEY
                ],
                // Troisième ligne
                [
                    CAPSLOCK_KEY,
                    { label: 'Q', value: 'q', shiftValue: 'Q' },
                    { label: 'S', value: 's', shiftValue: 'S' },
                    { label: 'D', value: 'd', shiftValue: 'D' },
                    { label: 'F', value: 'f', shiftValue: 'F' },
                    { label: 'G', value: 'g', shiftValue: 'G' },
                    { label: 'H', value: 'h', shiftValue: 'H' },
                    { label: 'J', value: 'j', shiftValue: 'J' },
                    { label: 'K', value: 'k', shiftValue: 'K' },
                    { label: 'L', value: 'l', shiftValue: 'L' },
                    { label: 'M', value: 'm', shiftValue: 'M' },
                    { label: '%', value: 'ù', shiftValue: '%', secondaryLabel: ' ù' },
                    { label: 'µ', value: '*', shiftValue: 'µ', secondaryLabel: ' *' }
                ],
                // Quatrième ligne
                [
                    SHIFT_KEY,
                    { label: '›', value: '<', shiftValue: '>', secondaryLabel: '‹' },
                    { label: 'W', value: 'w', shiftValue: 'W' },
                    { label: 'X', value: 'x', shiftValue: 'X' },
                    { label: 'C', value: 'c', shiftValue: 'C' },
                    { label: 'V', value: 'v', shiftValue: 'V' },
                    { label: 'B', value: 'b', shiftValue: 'B' },
                    { label: 'N', value: 'n', shiftValue: 'N' },
                    { label: '?', value: ',', shiftValue: '?', secondaryLabel: ' ,' },
                    { label: '.', value: ';', shiftValue: '.', secondaryLabel: ' ;' },
                    { label: ':', value: ':', shiftValue: '/', secondaryLabel: ' /' },
                    { label: '§', value: '!', shiftValue: '§', secondaryLabel: ' !' },
                    SHIFT_KEY,
                ],
                // Cinquième ligne
                [
                    SPACE_BAR_KEY
                ]
                // Cinquième ligne : Flèches directionnelles (in progress)
                // [
                //     { label: '‹', value: '', shiftValue: '', class: 'arrow arrow-left' }, 
                //     { label: '‹', value: '', shiftValue: '', class: 'arrow arrow-up' },  
                //     { label: '‹', value: '', shiftValue: '', class: 'arrow arrow-down' }, 
                //     { label: '›', value: '', shiftValue: '', class: 'arrow arrow-right' } 
                // ]
            ];
        },

        // Gestion de l'affichage des messages de log
        addLog(message, type = 'info') {
            // Met à jour le log avec le nouveau message et le type
            this.log = { id: Date.now(), message, type };

            // Annule le timeout précédent s'il existe
            clearTimeout(this.logTimeout);

            // Définit un nouveau timeout pour supprimer le log après 1 seconde
            this.logTimeout = setTimeout(() => {
                this.log = null;
            }, 1000);
        },

        // Gestion de l'action du bouton d'effacement
        onClearButtonClick(event) {
            event.preventDefault();
            event.stopPropagation();

            // Réinitialise le texte saisi et ajoute un log
            this.keyPressed = '';
            this.addLog('Réinitialisation ✔️', 'success');

            // Applique l'animation de rotation à l'icône si elle existe
            const icon = this.$refs.clearIcon;
            if (icon) {
                icon.classList.add('rotate-icon');
                setTimeout(() => icon.classList.remove('rotate-icon'), 600);
            }

            // Retire le focus du bouton pour éviter une réactivation involontaire
            event.target?.blur();
        },

        /**
             * Copie le texte saisi dans le presse-papiers en utilisant la Clipboard API.
             * Cette méthode est plus moderne et directe mais n'est pas prise en charge par tous les navigateurs.
             * Si la Clipboard API n'est pas disponible, la méthode de repli `fallbackCopyTextToClipboard` est utilisée.
             */
        copyTextToClipboard(event) {
            event.preventDefault();
            event.stopPropagation();
            if (navigator.clipboard) {
                navigator.clipboard.writeText(this.keyPressed).then(() => {
                    this.addLog('Copié ✔️', 'success'); // Ajoute le log de texte copié
                }).catch(err => {
                    console.error('Erreur lors de la copie :', err);
                });
            } else {
                // Fallback pour les navigateurs sans Clipboard API
                this.fallbackCopyTextToClipboard();
            }

            // Retirer le focus du bouton
            if (event && event.target) {
                event.target.blur();
            }
        },

        /**
         * Méthode de repli pour copier le texte dans le presse-papiers.
         * Cette méthode crée un élément textarea temporaire pour copier le texte.
         * Elle est utilisée pour les navigateurs qui ne supportent pas la Clipboard API.
         */
        fallbackCopyTextToClipboard() {
            // Créer un textarea temporaire pour la copie
            const textArea = document.createElement("textarea");
            textArea.value = this.keyPressed;
            textArea.setAttribute("readonly", ""); // Empêcher la modification du contenu
            textArea.style.position = "absolute";
            textArea.style.left = "-9999px";
            textArea.style.opacity = "0"; // Rendre le textarea invisible

            document.body.appendChild(textArea);
            textArea.select(); // Sélectionner le contenu

            try {
                const successful = document.execCommand('copy');
                console.log(`La copie de texte a ${successful ? 'réussi' : 'échoué'}`);
            } catch (err) {
                console.error('Erreur lors de la copie dans le presse-papiers :', err);
            }

            document.body.removeChild(textArea);
        },

        // Détermination des classes CSS pour les touches
        getKeyClasses(key) {
            const commonClasses = {
                'key-pressed': this.isKeyPressed(key),
                'backspace': key.class === 'backspace',
                'enter': key.class === 'enter',
                'space-bar': key.class === 'space-bar',
                'tab': key.class === 'tab',
                'shift': key.class === 'shift',
                'capslock': key.class === 'capslock',
                'capslock-active': key.class === 'capslock' && this.isCapsLock,
            };

            // Gérer les classes spécifiques aux flèches directionnelles
            if (key.class && key.class.includes('arrow')) {
                key.class.split(' ').forEach(cls => commonClasses[cls] = true);
            }

            return commonClasses;
        },

        // Détermination des labels ARIA pour les touches
        getAriaLabel(key) {
            return key.secondaryLabel ? `${key.label} (${key.secondaryLabel})` : key.label;
        },

        // Gère le clic sur une touche virtuelle (souris)
        onKeyClick(key) {
            let charToInsert = this.getCharToInsert(key);

            if (charToInsert === null) return; // Si la fonction de gestion retourne null, on arrête l'exécution

            // Gérer la limite de caractères
            if (this.keyPressed.length + charToInsert.length <= this.maxCharacters) {
                this.keyPressed += charToInsert;
            } else {
                this.addLog('Limite de caractères atteinte ❌', 'error');
            }

            this.activeKeys.add(key.label);
            console.log("Caractère saisi:", charToInsert);
            this.updateTypingState();
        },

        /**
        * Détermine le caractère à insérer en fonction de la touche du clavier virtuel pressée.
        * Cette méthode gère les caractères standards ainsi que les comportements spéciaux
        * pour les touches comme Backspace, Enter, Espace et Caps Lock. Elle prend en compte
        * l'état actuel de Caps Lock et Shift pour déterminer le caractère correct à insérer.
        */
        getCharToInsert(key) {
            switch (key.class) {
                case 'backspace':
                    this.onBackspaceKeyDown();
                    return null;
                case 'space-bar':
                    return '\u0020';
                case 'enter':
                    return '\n';
                case 'capslock':
                    this.isCapsLock = !this.isCapsLock;
                    this.$forceUpdate();
                    return null;
                default:
                    return this.isCapsLock
                        ? key.label.toUpperCase()
                        : (this.isShiftPressed && key.shiftValue)
                            ? key.shiftValue
                            : key.value;
            }
        },

        /**
        * Calcule la position du curseur en fonction du texte saisi.
        * Cette méthode crée un élément span temporaire, mesure sa largeur,
        * puis le supprime pour déterminer la position du curseur dans la zone de texte.
        */
        calculateCursorPosition() {
            // Créer un fragment de document pour minimiser les répercussions sur le DOM
            const fragment = document.createDocumentFragment();
            const textSpan = document.createElement('span');

            // Configurer le style de l'élément span pour le mesurer sans l'afficher
            textSpan.style.visibility = 'hidden';
            textSpan.style.position = 'absolute';
            textSpan.textContent = this.keyPressed;

            // Ajouter l'élément span au fragment, puis le fragment au body
            fragment.appendChild(textSpan);
            document.body.appendChild(fragment);

            // Mesurer la largeur du texte
            const textWidth = textSpan.offsetWidth;

            // Supprimer l'élément span du DOM
            document.body.removeChild(textSpan);

            return `${textWidth}px`;
        },

        /**
         * Met à jour l'état de frappe. Cette méthode définit l'état de frappe sur 'true'
         * et utilise un délai pour le réinitialiser sur 'false' après une période d'inactivité.
         * Cela aide à gérer l'affichage du curseur et d'autres éléments d'interface utilisateur liés à la frappe.
         */
        updateTypingState() {
            // Activer l'état de frappe
            this.isTyping = true;

            // Effacer le timeout précédent s'il existe
            clearTimeout(this.typingTimeout);

            // Réinitialiser l'état de frappe après un délai d'inactivité
            this.typingTimeout = setTimeout(() => {
                // Désactiver l'état de frappe et rendre le curseur visible
                this.isTyping = false;
                this.isCursorVisible = true;
            }, 800); // Le délai peut être ajusté selon les besoins
        },

        /**
         * Démarre la répétition de frappe pour une touche donnée.
         * Cette méthode permet de simuler le comportement d'une touche restant enfoncée
         * en répétant l'action associée à cette touche à intervalles réguliers.
         * 
         * @param {Object} key - L'objet représentant la touche sur laquelle l'action doit être répétée.
         */
        startRepeat(key) {
            if (!key || !key.value) {
                console.error("La touche fournie est invalide.");
                return;
            }

            this.stopRepeat();

            this.repeatKey = setInterval(() => {
                key.value === 'backspace' ? this.onBackspaceKeyDown() : this.onKeyClick(key);
            }, this.repeatDelay);
        },

        /**
         * Arrête la répétition de la touche virtuelle.
         * Cette méthode est utilisée pour stopper la répétition de l'action d'une touche lorsque celle-ci n'est plus enfoncée.
         */
        stopRepeat() {
            if (this.repeatKey) {
                clearInterval(this.repeatKey);
                this.repeatKey = null;
            }

            // Nettoyage de l'ensemble des touches actives
            // Utile pour réinitialiser l'état des touches lorsque la répétition est arrêtée
            this.activeKeys.clear();
        },

        /**
         * Vérifie si une touche spécifique est actuellement enfoncée.
         * Cette méthode consulte l'ensemble 'activeKeys' pour déterminer si la touche spécifiée est active.
         * 
         * @param {Object} key - L'objet touche à vérifier.
         * @returns {boolean} - Vrai si la touche est enfoncée, faux sinon.
         */
        isKeyPressed(key) {
            return this.activeKeys.has(key.label);
        },

        /**
         * Gère les événements de clic sur la touche Caps Lock.
         * Cette méthode inverse l'état actuel de Caps Lock et met à jour les classes CSS correspondantes
         * sur les éléments du DOM pour refléter l'état visuel des touches.
         */
        onCapsLockClick() {
            // Inverser l'état de Caps Lock
            this.isCapsLock = !this.isCapsLock;

            // Essayez de mettre à jour les classes CSS et capturez toute erreur potentielle
            try {
                this.toggleSpecialKeyClass('capslock', this.isCapsLock);
            } catch (error) {
                console.error('Erreur lors de la mise à jour des classes CSS pour Caps Lock:', error);
            }
        },

        /**
         * Ajoute des écouteurs d'événements pour les interactions avec le clavier physique.
         * Lie les méthodes `handleKeyDown` et `handleKeyUp` aux événements correspondants.
         */
        addEventListeners() {
            // Ajoute un écouteur pour les touches enfoncées si ce n'est pas déjà fait
            if (!this.boundHandleKeyDown && typeof this.handleKeyDown === 'function') {
                this.boundHandleKeyDown = this.handleKeyDown.bind(this);
                document.addEventListener('keydown', this.boundHandleKeyDown, { passive: true });
            }

            // Ajoute un écouteur pour les touches relâchées si ce n'est pas déjà fait
            if (!this.boundHandleKeyUp && typeof this.handleKeyUp === 'function') {
                this.boundHandleKeyUp = this.handleKeyUp.bind(this);
                document.addEventListener('keyup', this.boundHandleKeyUp, { passive: true });
            }
        },

        /**
         * Retire les écouteurs d'événements pour les interactions avec le clavier physique.
         * Détache les méthodes `handleKeyDown` et `handleKeyUp` des événements correspondants.
         */
        removeEventListeners() {
            // Retire l'écouteur pour les touches enfoncées, s'il existe
            if (this.boundHandleKeyDown && typeof this.boundHandleKeyDown === 'function') {
                try {
                    document.removeEventListener('keydown', this.boundHandleKeyDown);
                } catch (e) {
                    console.error('Erreur lors de la suppression de l\'écouteur keydown:', e);
                }
                this.boundHandleKeyDown = null;
            }

            // Retire l'écouteur pour les touches relâchées, s'il existe
            if (this.boundHandleKeyUp && typeof this.boundHandleKeyUp === 'function') {
                try {
                    document.removeEventListener('keyup', this.boundHandleKeyUp);
                } catch (e) {
                    console.error('Erreur lors de la suppression de l\'écouteur keyup:', e);
                }
                this.boundHandleKeyUp = null;
            }
        },


        /**
         * Gère l'événement clavier physique pour la touche Backspace.
         * Supprime le dernier caractère de la chaîne `keyPressed`.
         */
        onBackspaceKeyDown() {
            // Vérifie que keyPressed est une chaîne de caractères non vide
            if (typeof this.keyPressed === 'string' && this.keyPressed.length > 0) {
                this.keyPressed = this.keyPressed.slice(0, -1);
            }
        },


        /**
         * Gère l'événement clavier physique pour la touche Espace.
         * Ajoute un espace insécable à la chaîne `keyPressed` jusqu'à atteindre la limite de caractères.
         */
        onSpaceKeyDown() {
            if (this.keyPressed.length < this.maxCharacters) {
                this.keyPressed += "\u00A0";
            } else {
                // Affiche un message dans le log si la limite de caractères est atteinte
                this.addLog('Limite de caractères atteinte ❌', 'error');
            }
        },

        /**
         * Traite les touches spéciales lorsqu'elles sont enfoncées.
         * @param {string} char - Caractère représentant la touche spéciale.
         */
        handleSpecialKey(char) {
            // Mapping des caractères aux fonctions correspondantes
            const specialKeyActions = {
                'backspace': () => this.onBackspaceKeyDown(),
                'space-bar': () => this.onSpaceKeyDown(),
                'enter': () => this.keyPressed += '\n',
                'capslock': () => this.toggleSpecialKeyClass('capslock', this.isCapsLock),
                // Ajouter d'autres touches spéciales ici
            };

            // Exécute l'action correspondante si elle existe
            if (specialKeyActions[char]) {
                specialKeyActions[char]();
            }
        },

        /**
         * Vérifie si la touche Shift est pressée.
         * @param {KeyboardEvent} event - L'événement clavier.
         * @return {boolean} - Renvoie vrai si la touche Shift est pressée.
         */
        isShiftKeyPressed(event) {
            return event.key === 'Shift' || event.keyCode === 16; // KeyCode 16 pour la compatibilité
        },

        /**
         * Gère l'enfoncement de la touche Shift.
         * @param {KeyboardEvent} event - L'événement clavier.
         */
        handleShiftKeyDown(event) {
            if (this.isShiftKeyPressed(event)) {
                this.isShiftPressed = true;
            }
        },

        /**
         * Gère le relâchement de la touche Shift.
         * @param {KeyboardEvent} event - L'événement clavier.
         */
        handleShiftKeyUp(event) {
            if (this.isShiftKeyPressed(event)) {
                this.isShiftPressed = false;
            }
        },

        /**
         * Gestion des touches enfoncées sur le clavier physique.
         * @param {KeyboardEvent} event - L'événement clavier.
         */
        handleKeyDown(event) {
            this.updateModifierKeys(event);
            const specialChar = this.getSpecialKey(event.key);

            if (specialChar) {
                this.handleSpecialKey(specialChar);
                this.toggleSpecialKeyClass(specialChar, true);
                event.preventDefault();
            } else {
                this.processRegularKey(event);
            }
        },

        /**
         * Gestion des touches relâchées sur le clavier physique.
         * @param {KeyboardEvent} event - L'événement clavier.
         */
        handleKeyUp(event) {
            this.resetModifierKeys(event);
            const specialChar = this.getSpecialKey(event.key);

            if (specialChar) {
                this.toggleSpecialKeyClass(specialChar, false);
            } else {
                this.resetRegularKey(event);
            }
        },

        /**
         * Met à jour les états des touches modificateurs comme Shift et CapsLock.
         * @param {KeyboardEvent} event - L'événement clavier.
         */
        updateModifierKeys(event) {
            if (event.key === 'Shift') {
                this.isShiftPressed = true;
            } else if (event.key === 'CapsLock') {
                this.isCapsLock = event.getModifierState('CapsLock');
            }
        },

        /**
         * Retourne le caractère spécial correspondant à la touche pressée.
         * @param {string} key - La touche pressée.
         * @return {string|null} - Le caractère spécial ou null si non applicable.
         */
        getSpecialKey(key) {
            const specialKeys = { "Backspace": "backspace", "Enter": "enter", " ": "space-bar", "Shift": "shift", "CapsLock": "capslock", "Tab": "tab" };
            return specialKeys[key] || null;
        },

        /**
         * Traite une touche régulière (non spéciale).
         * @param {KeyboardEvent} event - L'événement clavier.
         */
        processRegularKey(event) {
            const key = this.findKey(event.key);
            if (key) {
                key.isPressed = true;
                this.activeKeys.add(key.label);
                this.startRepeat(key);
                this.onKeyClick(key);
            }
        },

        /**
         * Réinitialise les états des touches modificateurs comme Shift.
         * @param {KeyboardEvent} event - L'événement clavier.
         */
        resetModifierKeys(event) {
            if (event.key === 'Shift') {
                this.isShiftPressed = false;
            }
        },

        /**
         * Réinitialise une touche régulière (non spéciale) après relâchement.
         * @param {KeyboardEvent} event - L'événement clavier.
         */
        resetRegularKey(event) {
            const key = this.findKey(event.key);
            if (key && this.activeKeys.has(key.label)) {
                key.isPressed = false;
                this.activeKeys.delete(key.label);
                this.stopRepeat();
            }
        },

        // Basculement de Classe CSS pour Touches Spéciales
        toggleSpecialKeyClass(keyClass, add) {
            // Sélectionner toutes les touches avec la classe spécifiée
            const keyElements = document.querySelectorAll(`.${keyClass}`);

            // Utiliser une boucle 'for' au lieu de 'forEach' pour une meilleure performance
            for (let i = 0; i < keyElements.length; i++) {
                // Ajoute ou supprime la classe en fonction du paramètre 'add'
                if (add) {
                    keyElements[i].classList.add('key-pressed');
                } else {
                    keyElements[i].classList.remove('key-pressed');
                }
            }
        },

        // Initialisation de la Cartographie des Touches du Clavier
        initializeKeyMap() {
            this.keyMap = {};

            // Fonction auxiliaire pour ajouter des touches à la cartographie
            const addToMap = (value, keyObject) => {
                if (value) {
                    this.keyMap[value.toLowerCase()] = keyObject;
                    if (value.toUpperCase() !== value.toLowerCase()) {
                        this.keyMap[value.toUpperCase()] = keyObject;
                    }
                }
            };

            for (const line of this.lines) {
                for (const key of line) {
                    // Ignore les touches sans valeur spécifique et non fonctionnelles comme 'Tab'
                    if (!key.value && key.class !== 'tab') continue;

                    // Ajoute les valeurs de base et les valeurs avec Shift à la cartographie
                    addToMap(key.value, key);
                    addToMap(key.shiftValue, key);
                }
            }
        },

        // Recherche de Touche dans la Cartographie du Clavier
        findKey(keyValue) {
            console.log("Find Key - Original Key: ", keyValue, ", Shift: ", this.isShiftPressed, ", Caps Lock: ", this.isCapsLock);

            let searchValue = keyValue;

            // Gestion des touches alphabétiques en tenant compte de Caps Lock et Shift
            if (keyValue.length === 1 && keyValue.match(/[a-zA-Z]/)) {
                // Inverser la casse si Caps Lock est actif et Shift n'est pas pressé, ou vice versa
                if (this.isCapsLock !== this.isShiftPressed) {
                    searchValue = keyValue.toUpperCase() === keyValue ? keyValue.toLowerCase() : keyValue.toUpperCase();
                }
            } else if (this.isShiftPressed && this.keyMap[keyValue]?.shiftValue) {
                // Utiliser la valeur shift si Shift est pressé et si la shiftValue existe
                searchValue = this.keyMap[keyValue].shiftValue;
            }

            // Rechercher la touche dans la cartographie
            const key = this.keyMap[searchValue.toLowerCase()] || this.keyMap[searchValue];
            if (key) {
                console.log("Correspondance trouvée pour la touche: ", keyValue, " -> ", key.label);
            } else {
                console.log("Aucune correspondance trouvée pour la touche: ", keyValue);
            }

            return key;
        },
    },
    computed: {
        cursorPosition() {
            return this.calculateCursorPosition();
        },
        formattedKeyPressed() {
            // Remplacement plus efficace des espaces
            return this.keyPressed.replace(/ /g, '&nbsp;');
        }
    },

    // Initialisation et nettoyage du composant
    mounted() {
        this.$nextTick(() => {
            this.addEventListeners();
            this.initializeKeyMap();
        });

        // Animation du curseur
        this.cursorBlinkInterval = setInterval(() => {
            if (!this.isTyping) {
                this.isCursorVisible = !this.isCursorVisible;
            }
        }, 575);
    },

    beforeDestroy() {
        // Nettoyage des écouteurs et intervalles
        if (this.boundHandleKeyDown) {
            document.removeEventListener('keydown', this.boundHandleKeyDown);
        }
        if (this.boundHandleKeyUp) {
            document.removeEventListener('keyup', this.boundHandleKeyUp);
        }
        if (this.cursorBlinkInterval) {
            clearInterval(this.cursorBlinkInterval);
        }
    },
};
</script>
  
<style scoped>
.keyboard-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.console-log-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.console-log {
    background-color: #1e1e1e00;
    color: #00ff00;
    padding: 10px;
    border-radius: 5px;
    width: 40%;
    height: 45px;
    overflow-y: hidden;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Conteneur des boutons */
.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 7px;
}

/* Styles de base des boutons */
.clipboard-button,
.clear-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    /* Transition plus fluide */
}

/* Effets de survol et de focus visible des boutons */
.clipboard-button:hover,
.clear-button:hover,
.clipboard-button:focus-visible,
.clear-button:focus-visible {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* Effets lorsque les boutons sont activés/clickés */
.clipboard-button:active,
.clear-button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

/* Styles des icônes des boutons */
.fa-undo,
.fa-clipboard {
    font-size: 18px;
    transition: box-shadow 0.3s ease;
    /* Transition pour l'ombre */
}

/* Animation pour l'icône de rotation */
.rotate-icon {
    animation: spin 0.6s ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}


.cursor {
    display: inline-block;
    margin-left: 3px;
    background-color: rgb(255, 255, 255);
    width: 2px;
    height: 9px;
    transform: translateY(50%) rotate(90deg);
    animation: blink 1s step-end infinite;
}

.typing .cursor {
    animation: none;
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

.keyboard-container {
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
    background-color: #000000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.display-area {
    display: relative;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    color: rgb(0, 255, 0);
    border: 1px solid #333;
    margin-bottom: 10px;
    padding: 10px;
    min-height: 50px;
    font-family: 'Montserrat', sans-serif;
}

.keyboard {
    display: flex;
    user-select: none;
    flex-wrap: wrap;
    justify-content: center;
}

.line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.key,
.enter,
.space-bar,
.capslock,
.backspace {
    user-select: none;
    margin: 3px;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid rgba(255, 0, 0, 0.7);
    cursor: pointer;
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.012);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    min-width: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.key-label {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}

.space-bar {
    flex-grow: 4;
    min-width: 300px;
}

.enter,
.capslock,
.backspace,
.tab {
    flex-grow: 2;
    min-width: 80px;
}

.capslock-active {
    background-color: rgba(255, 0, 0, 0.05);
    border-color: rgba(255, 0, 0, 1);
}

.key:hover,
.enter:hover,
.space-bar:hover,
.capslock:hover,
.backspace:hover {
    border-color: rgba(255, 0, 0, 1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.05);
    transition: box-shadow 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
}

.key:focus-visible,
.enter:focus-visible,
.space-bar:focus-visible,
.capslock:focus-visible,
.backspace:focus-visible {
    border-color: rgba(255, 0, 0, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.key:active,
.key-pressed,
.enter:active,
.enter-pressed,
.space-bar:active,
.space-bar-pressed,
.capslock:active,
.capslock-pressed,
.backspace:active,
.backspace-pressed {
    background-color: rgba(255, 0, 0, 0.05);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 0, 0, 0.8);
    color: #F3F3F3;
    transition: all 0.1s ease;
}

@media only screen and (max-width: 600px) {

    .keyboard-container,
    .display-area,
    .console-log {
        width: 90%;
        /* Ajustement de la largeur pour les petits écrans */
    }

    .console-log {
        font-size: 14px;
        /* Taille de police plus petite pour l'espace limité */
    }

    .key,
    .enter,
    .space-bar,
    .capslock,
    .backspace {
        padding: 10px;
        /* Padding réduit pour les petites touches */
        min-width: 25px;
        /* Largeur minimale réduite pour les touches */
        font-size: 14px;
        /* Taille de police réduite */
    }

    .space-bar {
        flex-grow: 3;
        /* Ajustement de la taille de la barre d'espace */
    }

    .enter,
    .capslock,
    .backspace,
    .tab {
        flex-grow: 1.5;
        /* Ajustement de la taille pour les touches spéciales */
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {

    .keyboard-container,
    .display-area,
    .console-log {
        width: 85%;
        /* Largeur ajustée pour les tablettes */
    }

    .console-log {
        font-size: 16px;
        /* Taille de police adaptée pour les tablettes */
    }

    .key,
    .enter,
    .space-bar,
    .capslock,
    .backspace {
        padding: 12px;
        /* Padding ajusté pour un meilleur confort de frappe */
        min-width: 35px;
        /* Largeur minimale ajustée */
        font-size: 16px;
        /* Taille de police ajustée */
    }

    .space-bar {
        flex-grow: 4;
        /* Ajustement de la taille de la barre d'espace */
    }

    .enter,
    .capslock,
    .backspace,
    .tab {
        flex-grow: 2;
        /* Ajustement de la taille pour les touches spéciales */
    }
}
</style>
